@page
@model RemoConnectPreview0.Pages.SwitchModel
@{
    ViewData["Title"] = "Switch";
}

<h1>Switch</h1>

<form method="post">
    <input type="submit" name="Action" value="On" />
    <input type="submit" name="Action" value="Off" />
</form>

